@font-face {
font-family: 'FragmentMono';
src: url(FragmentMono-Regular.woff2);

}

body{
  background-color: 230;
  padding: 0;
  margin: 0;

}



.info{

    text-align: center;
    font-family:'FragmentMono',serif;
    font-size: 10px;
    line-height: 20px;
    border: none;
    outline: none;
    width:auto;
    background: none;

}

.main{

  
  text-align: center;
  font-family:'FragmentMono',serif;
  font-size: 30px;
  line-height: 30px;
  border: none;
  outline: none;
  width:auto;
  background: none;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            cursor: default;

}



footer {

  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%);
}






img{
  display: none; 
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

 a{
      color: rgb(235,235,235);
      text-decoration: none;
      text-align: center;
      font-family:'FragmentMono',serif;
      font-size: 30px;
       line-height: 30px;
    }




span:hover + img{
   display:block;
   height: auto;
   width: auto;
   max-width: 800px;
   max-height: 700px;
   margin:auto;
   padding-top: 10px;
}
